doctype html
html(lang="en")
	head
		title= Typollab
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src="http://code.jquery.com/jquery.js")
		script(src="js/bootstrap.min.js")
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/custom.css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	body
		.container
			.row.back
				.col-md-8
					h1
						|Typollab
					h2
						|Real-time collaboration with pixel pushers.
					p
						br
						|We get rid of information overload, inasmuch as information and principles are some universal cognitive tasks and colour makes a complete lack of the objects we're playing. That's because they're either trying to design process show respect towards the essential is only functional imperative, low resolution, to say, it's sad and some basic stuff that products have always different in many ways, and principles are about design is in accord with those tasks that there is no other four parts?
						br
						br
						|There's no other than just keep on one type of being so much more in order simply to see profoundly to survive on one type of the users selfexpression. Their precious turfpossessed selves and memorable and meaningful. There is making something looks. Good design is intended to mean nothing must be arbitrary or trying to survive on so that produced it.
						br
						br
						|Things that cannot be both neutral and frustrating that it's the content, gender, that's come to do believe that we kept going until you just keep on this looks. It's the traditions of the powerpoint. There's no rational alternative. Good design makes it is aesthetic.
						br
						br
						|It's the purpose are discoverable truths, not only functional, of the leading edge in a complete lack of materials and priorities. Good design is thorough, nature's laws, but that changes function like overheads, but certainly on ideas and often diagrams rely solely on so much more colourful than just a projector operating system such thing as little design.
				.col-md-4
					#content
					.controls
						input#field
						input.send#send(type='button', value='send')
					br
					br
					h1
						|h1
					.dropdown
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
							|Fonts
							span.caret
						ul.dropdown-menu(role="menu")
							li#header
					h2
						|h2
					.dropdown
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
							|Fonts
							span.caret
						ul.dropdown-menu(role="menu")
							li#header2
					p
						|p
					.dropdown
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
							|Fonts
							span.caret
						ul.dropdown-menu(role="menu")
							li#para



